 /* small screen */
 @media screen and (min-width: 768px) {
     button.catButton {
         display: flex;
         justify-content: center;
         position: relative;

     }

     button.dogButton {
         display: flex;
         justify-content: center;
         position: relative;
     }
 }

 @media screen and (max-width: 220px) {
     button.catButton {
         display: flex;
         margin-top: 20px;
         margin-left: 200px;
         margin-right: 200px
     }

     button.dogButton {
         display: flex;
         margin-top: 20px;
         margin-left: 200px;
         margin-right: 200px
     }
 }